app = 'snapog-api'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3710'

[http_service]
  internal_port = 3710
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'snapog_data'
  destination = '/app/data'
